/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    color: #00b3e6;
}

p {
    margin-bottom: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    cursor: pointer;
    transition: color 0.3s;
}

header h1:hover {
    color: #00b3e6; 
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Couleur du menu */
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ccc;
    color: #333;
}

img {
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.2);
}

/* Styles spécifiques au footer */
footer {
    background-color: #333; /* Couleur du footer */
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .contact-info,
.footer .important-links {
    flex: 1;
    margin: 0 20px;
}

.footer .contact-info p,
.footer .important-links p {
    color: #fff; /* Couleur du texte dans le footer */
    line-height: 1.6;
}

.footer .important-links a {
    color: #fff; /* Couleur des liens dans le footer */
    text-decoration: none;
}

.footer .important-links a:hover {
    color: #0056b3; /* Couleur des liens au survol */
}

.footer .separator {
    border-left: 1px solid #ccc;
    height: 80px;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .footer .contact-info,
    .footer .important-links {
        flex: 100%;
    }
}

.move-up {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
  }
  
  .move-up.animate__animated {
    opacity: 1;
    transform: translateY(0);
  }